<section class='hero is-black is-fullheight'>
  <div class='hero-head'>
    <p class='title'>facelord</p>
  </div>
  <div class='hero-body'>
    <div class='section'>
    <div class='container'>
    <div class='columns is-centered'>
    <div class='column is-4'>
    <h4 class='title is-2'>sign up</h4>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class='field'>
          <div class='control'>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { class: 'input' },
                      wrapper: false,
                      label: false,
                      placeholder: 'email' %>
                      
          </div>
        </div>    
        <div class='field'>
          <div class='control'>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { class: 'input' },
                      wrapper: false,
                      label: false,
                      placeholder: 'password'  %>
          </div>
        </div> 
        <div class='field'>
          <div class='control'>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { class: 'input' },
                      wrapper: false,
                      label: false,
                      placeholder: 'confirm password' %>
          </div>
        </div> 
        <div class='field'>
          <div class='control'>  
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
        </div>
        <div class='field'>
          <div class='control'>  
          <%= f.button :submit, "sign up", class: 'button is-primary' %>
          </div>
        </div>  
      <% end %>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  </div>
</section>