<div class='level'>
</div>
<div class='columns is-multiline'>
  <% @users.each do |u| %>
  <div class='column is-one-quarter'>  
    <div class='card has-background-black has-text-white'>
      <div class='card-header'>
      <%= link_to user_path(u) do %>
        <div class="card-image">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(u.email, size: 64, alt: u.name ) %>
          </figure>
        </div>
        <p class='card-header-title has-text-white'>
          <%= u.name %>
        </p>
      <% end %>
      </div>  
      <div class='card-footer'>
        <% if current_user.friendships.pending.by_inviter(u).first.present? %>
        <div class='card-footer-item'>
          <%= button_to 'accept', accept_friend_path(current_user.friendships.pending.by_inviter(u).first), method: :post, class: 'button is-success' %>
          <%= button_to 'reject', destroy_friendship_path(current_user.friendships.pending.by_inviter(u).first), method: :post, class: 'button is-danger' %>
        </div>
        <% elsif current_user.friendships.pending.by_accepter(u).first.present? %>  
        <div class='card-footer-item'>
          <button class='button is-static'>invited</button>
        </div>
        <% else %>
        <div class='card-footer-item'>  
          <%= button_to 'add friend', request_friend_path(u), method: :post, class: 'button is-info' %>
        </div>  
        <% end %>  
      </div>  
    </div>
  </div>
  <% end %>
</div>  