<div class='level'>
</div>
<div class='columns'>
  <div class='column is-one-quarter'>
    <div class='field'>
      <div class='control'>
      <%= form_with url: users_path, method: :get do |f| %>
        <%= f.label name='search[name]', 'search for users by name', class: 'label has-text-white' %>
        <%= f.text_field name ='search[name]', class: 'input' %>
      </div>
    </div>
    <div class='field is-horizontal'>
      <div class='control'>    
        <%= f.submit 'search', class: 'button is-black has-text-success'%>
      <% end %>
      </div>
      <div class='control'>
        <%= button_to 'see all', users_path, method: :get, class: 'button is-success has-text-black' %>
      </div>
    </div>
  </div>
</div>  
<div class='columns is-multiline'>  
<% if @users.empty? %>
  <div class='column is-one-quarter'>
    <div class='card has-background-warning'>
      <div class='card-header'>
        <p class='card-header-title has-text-danger'>
        no users to show
        </p>
      </div>
    </div>
  </div>  
<% end %>
  <% @users.each do |u| %>
  <div class='column is-one-quarter'>  
    <div class='card has-background-black has-text-white'>
      <div class='card-header'>
      <%= link_to user_path(u) do %>
        <div class="card-image">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(u.email, size: 64, alt: u.name ) %>
          </figure>
        </div>
        <p class='card-header-title has-text-white'>
          <%= u.name %>
        </p>
      <% end %>
      </div>  
      <div class='card-footer'>
        <% if u.friendships.pending.by_accepter(current_user).first.present? %>
        <div class='card-footer-item'>
          <%= button_to 'accept', accept_friend_path(u.friendships.pending.by_accepter(current_user).first), method: :post, class: 'button is-success' %>
          <%= button_to 'reject', destroy_friendship_path(u.friendships.pending.by_accepter(current_user).first), method: :post, class: 'button is-danger' %>
        </div>
        <% elsif current_user.friendships.pending.by_accepter(u).first.present? %>  
        <div class='card-footer-item'>
          <button class='button is-static'>invited</button>
        </div>
        <% else %>
        <div class='card-footer-item'>  
          <%= button_to 'add friend', request_friend_path(u), method: :post, class: 'button is-info' %>
        </div>  
        <% end %>  
      </div>  
    </div>
  </div>
  <% end %>
</div>  
