<aside class='menu has-background-black has-text-white px-5'>
  <p class='menu-label'>
  <%= @user.name %>'s profile
  </p>
  <div class='card has-background-black has-text-white'>
    <div class='card-header'>
      <p class='title is-5 has-text-success'>about me:</p>
    </div>
    <div class='card-content'>
      <p><%= @user.bio %></p>
    </div>
    <div class='card-header'>
      <p class='title is-5 has-text-success'>location:</p>
    </div>
    <div class='card-content'>
      <p><%= @user.location %></p>
    </div>
    <div class='card-header'>
      <p class='title is-5 has-text-success'>works at:</p>
    </div>
    <div class='card-content'>
      <p><%= @user.company %></p>
    </div>
    <div class='card-header'>
      <p class='title is-5 has-text-success'>birthday:</p>
    </div>
    <div class='card-content'>
      <p><%= @user.birthday %></p>
    </div>
    <div class='card-header'>
      <p class='title is-5 has-text-success'><%= @user.name%>'s friends:</p>
    </div>
    <div class='card-content'>
      <%= link_to user_friends_path(@user), class: 'has-text-success' do %>
      <p><%= @user.friends.count %> friends</p>
      <% end %>
    </div>    
    <% if @user == current_user %>
    <div class='card-footer'>
      <div class='card-footer-item'>
        <%= link_to 'edit profile', edit_user_path(@user), class: 'has-text-info' %>
      </div>
    </div>
    <% end %>    
  </div>
</aside> 
<div class='level'>
</div>
<% if @user == current_user %>
  <%= render 'pending' %>
<% end %>  
