<aside class='menu has-background-black has-text-white pt-5'>
  <p class='menu-label'>pending friend requests
  </p>
  <% @user.friendships.pending.each do |f| %>
    <div class='card has-background-black has-text-white'>
      <div class='card-header'>
      <%= link_to user_path(f.inviter) do %>
        <div class="card-image">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(f.inviter.email, size: 64, alt: f.inviter.name ) %>
          </figure>
        </div>
        <p class='card-header-title has-text-white'>
          <%= f.inviter.name %>
        </p>
      </div>  
      <% end %>  
      <div class='card-footer'>
        <div class='card-footer-item'>
          <%= button_to 'accept', accept_friend_path(f), method: :post, class: 'button is-success' %>
          <%= button_to 'reject', destroy_friendship_path(f), method: :post, class: 'button is-danger' %>
        </div>
      </div>  
    </div>
  <% end %>
</aside>