<div class='level'>
</div>
<div class='card has-background-primary-light'>
  <div class='card-header'>
    <p class='card-header-title'>
      <%= @user.name %>'s friends
    </p>  
  </div>
</div>
<div class='level'>
</div>
<div class='columns is-multiline'>
  <% @friends.each do |u| %>
  <div class='column is-one-quarter'>  
    <div class='card has-background-black has-text-white'>
      <div class='card-header'>
      <%= link_to user_path(u) do %>
        <div class="card-image">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(u.email, size: 64, alt: u.name ) %>
          </figure>
        </div>
        <p class='card-header-title has-text-white'>
          <%= u.name %>
        </p>
      <% end %>
      </div>  
      <div class='card-content'>
        <p><%= u.bio %></p>
      </div>
    </div>
  </div>
  <% end %>
</div> 