<section class='hero is-link px-5' >
  <div class='hero-head'>
    <figure class="image is-128x128">
      <%= gravatar_image_tag(@user.email, size: 128, alt: @user.name ) %>
    </figure>
    <p class='title'>
      <%= @user.name %>
    </p>
    <p class='subtitle'>
      <%= @user.email %>
    </p>
  </div>
</section>
<div class='level'>
</div>
<div class='columns px-2'>
  <% if current_user.feed.include?(@user) %>
  <div class='column is-two-fifths pt-3 px-2'>
    <%= render 'left' %>
  </div>
  <div class='column pt-3 px-2'>
    <%= render 'profile' %>
  </div>
  <% else %>
  <div class='column is-two-fifths pt-3 px-2'>
    <%= render 'prefriend' %>
  </div>
  <% end %>
</div>