<% if user_signed_in? %>
<aside class='menu has-background-black has-text-white'>
  <p class='menu-label'>pending friend requests
  </p>
  <% if current_user.pending_invite_friends.empty? && current_user.pending_accept_friends.empty? %>
    <div class='card has-background-black has-text-white'>
      <div class='card-header'>
        <p class='card-header-title'>
        no new friend requests
        </p>
      </div>
    </div>    
  <% end %>
  <% current_user.pending_accept_friends.uniq.each do |f| %>
    <div class='card has-background-black has-text-white'>
      <div class='card-header'>
      <%= link_to user_path(f) do %>
        <div class="card-image">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(f.email, size: 64, alt: f.name ) %>
          </figure>
        </div>
        <p class='card-header-title has-text-white'>
          <%= f.name %>
        </p>
      </div>
      <% end %>  
      <div class='card-footer'>
        <div class='card-footer-item'>
          <%= button_to 'accept', accept_friend_path(f.friendships.pending.by_accepter(current_user).first), method: :post, class: 'button is-success' %>
          <%= button_to 'reject', destroy_friendship_path(f.friendships.pending.by_accepter(current_user).first), method: :post, class: 'button is-danger' %>
        </div>
      </div>  
    </div>
  <% end %>
  <% current_user.pending_invite_friends.uniq.each do |f| %>
    <div class='card has-background-black has-text-white'>
      <div class='card-header'>
      <%= link_to user_path(f) do %>
        <div class="card-image">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(f.email, size: 64, alt: f.name ) %>
          </figure>
        </div>
        <p class='card-header-title has-text-white'>
          <%= f.name %>
        </p>
      </div>
      <% end %>  
      <div class='card-footer'>
        <div class='card-footer-item'>
          <button class='button is-static'>invited</button>
        </div>
      </div>    
    <% end %>
  <% end %>
</aside>  

