
<div class='level'>
</div>
<article class="media has-background-black has-text-white px-5 pt-5">
  <%= link_to user_path(@post.user) do %>
  <figure class="media-left">
    <p class="image is-64x64">
      <%= gravatar_image_tag(@post.user.email, size: 64, alt: @post.user.name ) %>
    </p>
  </figure>
  <% end %>
  <div class="media-content">
    <div class="content">
      <p class='is-success'>
        <strong><%= @post.user.name%></strong>
        <br>
        <%= @post.body %>
        <br>
        <div class='card has-background-black'>
        <div class='card-footer'>
        <div class='card-footer-item'>
        <% if user_signed_in? && current_user.liked_posts.include?(@post) %>
          <button class='button is-black'><span class='has-text-danger'>♥</span></button>
        <% else %>
        <%= button_to post_add_like_path(@post), method: :post, class: 'button is-black' do %>
          <span class='has-text-danger'>♡</span>
          <% end %>  
        <% end %>
          <p class='has-text-danger'>likes: <%= @post.post_likes.count %></p>
        </div>
        <div class='card-footer-item'>
          <%= button_to '💬', new_post_comment_path(@post), method: :get, class: 'button is-black has-text-success' %>
          <p class='has-text-success'>comments: <%= @post.comments.count %></p>
        </div>
        <% if @post.user == current_user %>
        <div class='card-footer-item' >
          <%= button_to '🗑', destroy_post_path(@post), method: :post, class: 'button is-black has-text-link' %>
        </div>
        <% end %>
        </div>
        </div>
      </p>
    </div>
    <% @post.comments.each do |c|%>
    <article class="media has-background-black has-text-white px-5 pt-5">
      <%= link_to user_path(c.user) do %>
      <figure class="media-left">
        <p class="image is-48x48">
          <%= gravatar_image_tag(c.user.email, size: 64, alt: c.user.name ) %>
        </p>
      </figure>
      <% end %>
      <div class="media-content">
        <div class="content">
          <p>
            <strong class='is-success'><%= c.user.name%></strong>
            <br>
            <%= c.body %>
            <br>
          </p>
        </div>
      </div>  
    </article>
    <% end %>
  </div>
</article>      


