
  <section class='hero is-black is-fullheight'>
    <div class='hero-head'>
      <p class='title'>facelord</p>
    </div>
    <div class='hero-body'>
      <div class='section'>
      <div class='container'>
      <div class='columns is-centered'>
      <div class='column is-4'>
      <h4 class='title is-2'>Log in</h4>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class='field'>
            <div class='control'>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { class: 'input' },
                        wrapper: false,
                        label: false,
                        placeholder: 'email' %>
                        
            </div>
          </div>    
          <div class='field'>
            <div class='control'>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { class: 'input' },
                        wrapper: false,
                        label: false,
                        placeholder: 'password'  %>
            </div>
          </div>  
          <div class='field'>
            <div class='control'>  
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>
          <div class='field is-horizontal'>
            <div class='control'>  
            <%= f.button :submit, "log in", class: 'button is-primary' %>
            </div>
        <% end %>
            <div class='control'>
            <%= button_to 'sign up', new_user_registration_path, method: :get, class: 'button is-white has_text-priimary' %>
            </div>
        </div>
        <div class='level has-background-black has-text-centered has-text-white pt-5'>
          <p>- or -</p>
        </div>  
        <div class='field'>
          <div class='control'>
          <%= button_to 'sign in with facebook', user_facebook_omniauth_authorize_path, class: 'button is-info' %>
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  

