<!DOCTYPE html>
<html class='has-text-white has-background-dark'>
  <head>
    <title>Facelord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
  <% if user_signed_in? || current_page?(controller: 'devise/registrations', action: 'new') %>
    <%= render 'layouts/standard' %>
  <div class='container'>
    <%= yield %>
  </div>
  <% else %>
    <%= render 'layouts/splash' %>  
  <% end %>    
  </body>
</html>